.events-area{
    margin: 0 100px;
}
.events{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.eventImg{
    width: 30%;
    position: relative;
}
.date-place{
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.date,.place{
    background-color: #EFC94C;
    padding: 12px 16px;
    border-radius: 28px;
}
.place{
    background-color: aquamarine;
}
.eventImg img{
    width: 100%;
}

.eventInfo{
    width: 40%;
    margin-left: 15px;
}
.eventInfo h2{
   font-size: 40px;
   margin-bottom: 10px;
}
.eventInfo li{
    /* list-style-type: none; */
    padding: 5px;
}
.eventBtn{
    width: 30%;
    text-align: center;
    transition: .3s;

}
.eventBtn a{
    color: rgb(114, 113, 113);
    text-decoration: none;
    background-color: transparent;
    border: 1px solid rgb(143, 140, 140);
    padding: 18px 40px;
    border-radius: 45px;
}
.eventBtn a:hover{
    color: #fff;
    text-decoration: none;
    background-color: #EFC94C;
    padding: 18px 40px;
    border-radius: 45px;
}





















