.news-area{
    margin: 10px 100px;
}
/* articles */
.articles{
    display: flex;
    margin-bottom: 12px;
    
}
.articles img{
    min-width: 600px;
    margin-right: 20px;
}
.article-content h3{
    font-size: 30px;
    padding: 8px 0;
}
.article-content article{

}
.newsbtn{
    background-color: #ceab4b;
    padding: 12px 18px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    text-transform: capitalize;
    border: 0;
    outline: 0;
    color: #fff;
    margin: 6px 0;
}
.newsbtn:hover{
    background-color: #efc963;
}







