.news-area{
    margin: 10px 100px;
}
/* .news-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news{
    width: 40%;
    margin-bottom: 30px;
}
.news img{
    width: 100%;
}
.article span{
    background-color: #ceab4b;
    padding: 12px 12px;
    text-align: center;
    display: inline-block;
    text-transform: capitalize;
}
.article span:hover{
    background-color: #efc963;
} */
/* articles */
.articles{
    display: flex;
    margin-bottom: 12px;
    
}
.articles img{
    max-width: 600px;
    margin-right: 20px;
}
.article-content h3{
    font-size: 30px;
    padding: 8px 0;
}
.article-content article{

}
.btn{
    background-color: #ceab4b;
    padding: 12px 12px;
    text-align: center;
    display: inline-block;
    text-transform: capitalize;
    border: 0;
    outline: 0;
}
.btn:hover{
    background-color: #efc963;
}







