.donate-area{
    margin: 20px 100px;
    height: 80vh;
}
#donates {
    border-collapse: collapse;
    width: 100%;
}
  
#donates td, #donates th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#donates tr:nth-child(even){background-color: #f2f2f2;}
  
#donates tr:hover {background-color: #ddd;}

#donates th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #efc963;
    color: white;
  }